{% extends "admin/challenges/create.html" %}

{% block header %}
<div class="alert alert-secondary" role="alert">
	The cryptohack challenge type is a special challenge type
	that awards points based on your cryptohack level.

</div>
{% endblock %}


{% block value %}
<div class="form-group">
	<label for="value">Base Value<br>
		<small class="form-text text-muted">
			How many points you get to sign up
		</small>
	</label>
	<input type="number" class="form-control chal-base" name="base" value="{{ base }}" required>
</div>

<div class="form-group">
	<label for="length">Rampup Length<br>
		<small class="form-text text-muted">
			How many CH levels until ramp up kicks in
		</small>
	</label>
	<input type="number" class="form-control chal-length" name="length" value="{{ length }}" required>
</div>

<div class="form-group">
	<label for="scale">Rampup Scale<br>
		<small class="form-text text-muted">
			Rate of ramp up
		</small>
	</label>
	<input type="number" class="form-control chal-scale" name="scale" value="{{ scale }}" required>
</div>
{% endblock %}

{% block type %}
<input type="hidden" value="cryptohack" name="type" id="chaltype">
{% endblock %}
